$fontStack : 'Poppins', sans-serif;
$boxShadow : 0 5px 10px 0 rgba(0, 0, 0, 0.1);
$color1 : #333;
$color2 : #777;


strong{font-weight: 600;}
a{text-decoration: none;
  &:hover{text-decoration:none;}
}
* {box-sizing: border-box; transition: all .3s ease; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
::after, ::before {box-sizing: border-box;}
body{font-family: $fontStack; font-size:14px; font-weight: 400; line-height: 1.5; color:#707070; text-align: left; background-color: #f1f1f1;}

.containerAll{float:left; width:100%;}
.container{float:left; width:100%;
  .studentTable{float:left; width:100%; margin-bottom:30px;}
  .header{display:flex; align-items: center; justify-content: space-between; width:100%; margin-bottom:20px;   border-bottom: 1px solid #ddd; padding-bottom: 10px;
    .headText{float:left; width:100%; font-size:18px;}
    .addNewLineBtn{float:left; display: flex; align-items: center; justify-content: center; width:500px;
      button{float:left; width:auto; margin-right:20px;}
    }
  }
  .vs-input, .vs-table__th__content{width:100%!important; text-align:center; justify-content: center;}
  .container .vs-input, .container .vs-table__th__content{background-color: #fff; border: 1px solid #f1f1f1;}
  .midTermPercentDefault, .finalTermPercentDefault{width:50px;}
  .vs-table__tr{font-weight:600;}
  .vs-table__tr{
    .vs-table__th:nth-child(1){width:10%!important;}
    .vs-table__th:nth-child(2), .vs-table__td:nth-child(2){width:30%!important;
      .vs-input{text-align:left; justify-content:flex-start;}
      .vs-table__th__content{padding-left:10px; justify-content:flex-start;}
    }
    .vs-table__th:nth-child(3){width:10%!important;}
    .vs-table__th:nth-child(4){width:10%!important;
      .vs-input-content{margin-left:5px;}
      .vs-input__label{left:4px;}
      .vs-input{padding: 5px 2px;}
      .vs-input:focus{padding-left:0!important;}
    }
    .vs-table__th:nth-child(5){width:10%!important;}
    .vs-table__th:nth-child(6){width:10%!important;
      .vs-input-content{margin-left:5px;}
      .vs-input__label{left:4px;}
      .vs-input{padding: 5px 2px;}
      .vs-input:focus{padding-left:0!important;}
    }
    .vs-table__th:nth-child(7){width:10%!important;}
    .vs-table__th:nth-child(8){width:10%!important;}
    &:hover{
      .vs-table__td{background-color:#ececec!important}
    }
  }
  .vs-input{background-color:#fff;}
  .vs-input:focus{padding-left:10px!important; background-color:#fff!important;}
  .colCenter{text-align:center;}
  .login{display: flex; align-items: center; justify-content: center; width: 100%; height: 100vh; flex-direction: column;
    .vs-input-parent{margin-bottom:20px; width:100%;}
    form{float: left; width: 100%; max-width: 300px; display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 30px; border: 1px solid #ddd; border-radius: 30px;}
    .headText{font-size:18px; font-weight:600; margin-bottom: 30px;}
    .vs-alert{display: flex; align-items: center; justify-content: center; height: 30px!important; margin-top:20px;
      .vs-alert__title{justify-content:center; font-size: 14px;}
      .vs-alert__content{display:none;}
    }
    .signIn{float:left; width:100%; font-weight:600; font-size:16px;
      svg{margin-right:5px;}
    }
  }
  .layout{float:left; width:100%; padding:30px;}
}

@media (max-width:767px) {
  .container .header{flex-direction:column;}
  .container .header .addNewLineBtn{width:100%; justify-content:flex-start;}
  .container .header .headText{margin-bottom:10px;}
  .vs-table table{width:1000px;}
}
